# Ignorer le contenu du dossier screenshots
screenshots/*
!screenshots/.gitkeep

# Fichiers système macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Fichiers Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


